:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: calc(60% + 0.8vmin);
}

* {
  font-size: 1rem;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  min-width: 2.5rem;
}
button:hover {
  border-color: #646cff;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul, ol {
  list-style: none;
}

@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.footer {
  position: absolute;
  background-color: #0F0F0F;
  bottom: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

.footer-text {
  font-size: 0.8rem;
}

  a:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-text {
  margin: 0;
}

.shopping-list {
  margin-top: 2rem;
}

.shopping-list-summary {
  font-size: 0.8rem;
}